<section class="flex flex-dc-mob">
  <div class="mx2 flex flex-ac flex-jc flex-dc flex-33 flex-100-mob">
    <div class="flex flex-ac flex-dc" *ngIf="selectedBook">
      <img class="mb1" src="{{selectedBook.cover}}" />
      <h4 class="m0">{{selectedBook.title}}</h4>
      <p class="m0 mb1">{{selectedBook.author}} - {{selectedBook.publishDate}}</p>
      <div>
        <a class="button" (click)="gotoDetail()">View More</a>
        <a class="button"
          (click)="delete(selectedBook); $event.stopPropagation()">Delete</a>
      </div>
    </div>

    <div *ngIf="selectedBook == null">
      <p>Please select a book to view.</p>
    </div>
  </div>

  <div class="flex flex-dc flex-67 flex-100-mob">
    <div class="flex flex-ac">
      <p class="mr1">Total books: {{totalBooks}}</p>
      <a class="mr1" (click)="getBooks()">View All</a>
      <a class="mr1" (click)="sortByRead()">View Read</a>
      <a (click)="sortByUnread()">View Unread</a>
        <ng-select
          [options]="selectOptions"
          [allowClear]="true"
          (selected)="selectOrder($event.label);">
        </ng-select>
    </div>
    <!-- <div>
      <label>Book title:</label> <input #bookTitle />
      <a class="button" (click)="add(bookTitle.value); bookTitle.value=''">Add</a>
    </div> -->
    <div class="scroll my1 mr1">
      <div *ngFor="let book of books"
        class="hover p1 cursor"
        [class.selected]="book === selectedBook"
        (click)="onSelect(book)">
        <h2 class="m0">{{book.title}}</h2>
        <h3 class="m0">{{book.author}}, {{book.publishDate}} <span *ngIf="book.read === true"> - Read</span></h3>
      </div>
    </div>
  </div>
</section>
