<section class="flex">
  <div class="mx2 flex flex-ac flex-jc flex-dc flex-33">
    <div class="flex flex-ac flex-dc" *ngIf="selectedBook">
      <img class="mb1" src="{{selectedBook.cover}}" />
      <h4 class="m0">{{selectedBook.title}}</h4>
      <p class="m0 mb1">{{selectedBook.author}} - {{selectedBook.publishDate}}</p>
      <button (click)="gotoDetail()">View More</button>
      <button class="delete"
        (click)="delete(selectedBook); $event.stopPropagation()">Delete</button>
    </div>

    <div *ngIf="selectedBook == null">
      <p>Please select a book to view.</p>
    </div>
  </div>

  <div class="flex flex-dc flex-67">
    <search></search>
    <p>Total books: {{totalBooks}}</p>
    <div>
      <label>Book title:</label> <input #bookTitle />
      <button (click)="add(bookTitle.value); bookTitle.value=''">Add</button>
    </div>
    <div class="scroll">
      <div *ngFor="let book of books"
        class="p1 cursor"
        [class.selected]="book === selectedBook"
        (click)="onSelect(book)">
        <h2 class="m0">{{book.title}}</h2>
        <small>{{book.author}}</small>
      </div>
    </div>
  </div>
</section>
