<section class="flex">
  <div class="mx2 flex flex-ac flex-jc flex-dc flex-33">
    <div *ngIf="selectedBook">
      <a [routerLink]="['/book', selectedBook.id]">
        <img src="{{selectedBook.cover}}" />
        <p>{{selectedBook.title}}</p>
        <small>{{selectedBook.author}} - {{selectedBook.publishDate}}</small>
      </a>
    </div>

    <div *ngIf="selectedBook == null">
      <p>Please select a book to view.</p>
    </div>
  </div>

  <div class="flex flex-dc flex-67">
    <p>Total books: {{totalBooks}}</p>
    <div *ngFor="let book of books"
      class="p1 cursor"
      [class.selected]="book === selectedBook"
      (click)="onSelect(book)">
      <h2 class="m0">{{book.title}}</h2>
      <small>{{book.author}}</small>
    </div>
  </div>
</section>
