<div *ngIf="book">
  <header class="my1">
    <label>Title: </label>
    <input [(ngModel)]="book.title" placeholder="title" />

    <label>Author: </label>
    <input [(ngModel)]="book.author" placeholder="author" />
  </header>
  <div class="flex">
    <div class="flex flex-ac flex-jc flex-33">
      <img src="{{book.cover}}" />
    </div>
    <div class="flex-67">
      <button (click)="goBack()">Back</button>
      <h2>{{book.title}}</h2>
      <p>{{book.author}} - {{book.publishDate}}</p>
      <small>{{book.blurb}}</small>

      <button (click)="save()">Save</button>
    </div>
  </div>
</div>
